@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23242a;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 380px;
    height: 520px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
    animation: tran 0.75s;
}

.box::before {
    content: "";
    position: absolute;
    width: 480px;
    height: 520px;
    top: -50%;
    left: -50%;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.box::after {
    content: "";
    position: absolute;
    width: 480px;
    height: 520px;
    bottom: -50%;
    right: -50%;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: top left;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.form {
    position: absolute;
    background-color: #28292d;
    z-index: 10;
    inset: 2px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}

.form h2 {
    color: #45f3ff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0.1em;
}

.form .inputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.form .inputBox input {
    width: 100%;
    position: relative;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: #45f3ff;
}

.form .inputBox span {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 10px 10px;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    pointer-events: none;
    transition: 0.5s;
}

.inputBox input:valid~span,
.inputBox input:focus~span {
    color: #45f3ff;
    transform: translateY(-34px);
    font-size: 0.75em;
}

.inputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #45f3ff;
}

.form .links {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form .links a {
    text-decoration: none !important;
}

.form .links a:nth-child(1) {
    color: #45f3ff;
    padding-top: 6px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    height: 116px;
    border: none;
    outline: none;
    border-radius: 4px;
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #45f3ff;
    font-weight: 800;
    cursor: pointer;
}

@keyframes tran {
    from {
        opacity: 0;
        transform: rotate(-10deg);
    }
    to {
        opacity: 1;
        transform: rotate(0);
    }
}